*.meta filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.mat filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
Underwater_game_final filter=lfs diff=lfs merge=lfs -text
/OneDrive/Desktop/GitHub/Treasure-Quest_Stranded filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/ filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/UserSettings filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Assembly-CSharp-Editor.csproj filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Library filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Logs filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Underwater_game_final.sln filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Boxophobic.Utils.Scripts.csproj filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Packages filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/ProjectSettings filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Assembly-CSharp.csproj filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Assets filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Boxophobic.SkyboxCubemapExtended.Editor.csproj filter=lfs diff=lfs merge=lfs -text
Underwater_game_final/Boxophobic.Utils.Editor.csproj filter=lfs diff=lfs merge=lfs -text
